.delivery{
    width: 30px;
    margin: 0 2px ;
    float: right;
}
main .contact{
    clear: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    justify-content: space-between;
}
.contact .contact__form{
    display: flex;
    flex-direction: column;
}
.contact .contact__form input {
    margin-top: 20px;
    padding: 10px;
}
#contact__form__name{
    width: 300px;
    margin-left: 10%;
}
#contact__form__email{
    width: 350px;
    margin-left: 5%;
}
#contact__form__phone{
    margin-left: 10%;
}

#contact__form__message{
     margin: 20px 0;
     padding: 10px;
     width: 100%;
}

/*################## media ###################*/

@media screen {

}
