.delivery {
  width: 30px;
  margin: 0 2px;
  float: right;
}
.home__MBLink {
  margin-top: 50px;
  clear: right;
}
.home__motherbets {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 100px;
}

.home__motherbets__saronMB, .home__motherbets__MekdiMB, .home__motherbets__CampusFFMB {
  width: 100%;
  height: 100%;
}

.home__motheBets__figcaption , li{
  font-family: "Tangerine";
  font-size: 30px;
  font-weight: bolder;
}
label{display: none;}

@media screen and (max-width: 800px) {
  .home__motherbets {
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.4fr);
    
  }
  .home__motherbets__saronMB,
  .home__motherbets__MekdiMB,
  .home__motherbets__CampusFFMB {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .home__motheBets__figcaption , li{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
  }
}
@media only screen and (max-device-width: 600px) and (orientation: portrait){
  .home__motherbets{
    grid-template-rows: repeat(4, 0.3fr);
    row-gap: 50px;
  }
}
